* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #fff;
}

.image {
    background: url(./Soothing-nature-backgrounds-2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    padding-left: 80px;
    padding-top: 60px;
}

.container {
    padding: 10px 180px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #666;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 0 80px;
    border-right: 1px solid #fff;
    font-size: 18px;
}

header a:last-child {
    border-right: none;
}

aside {
    min-width: 200px;
}

.menu {
    margin-bottom: 20px;
}

.menu ul {
    margin-left: 18px;
    margin-top: 10px;
    line-height: 1.3;
}

.menu a {
    color: #fff;
}

.block h2 {
    margin-bottom: 10px;
}

section {
    display: flex;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.subsc h2 {
    margin-bottom: 10px;
}

.other {
    border-left: 2px solid #fff;
    padding-left: 15px;
    margin-left: 20px;
}

.other h2 {
    margin-bottom: 10px;
}

.end {
    display: flex;
}

.gallery {
    margin-bottom: 20px;
}

.gallery h2 {
    margin-bottom: 10px;
}

.gallery p {
    border-top: 2px solid #fff;
    padding-top: 10px;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #222;
    display: inline-block;
    margin-top: 15px;
}

.contact-us .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    width: 100%;
}

.title h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

label {
    font-size: 20px;
    color: #fff;
}

input {
    width: 400px;
    padding: 15px 20px;
    background-color: #444;
    border: 1px solid #000;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 10px;
    margin-left: 30px;
}

.radio-button {
    margin-top: 20px;
}

.radio-button h3 {
    margin-bottom: 10px;
}

button {
    display: inline-block;
    width: 100px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #222;
    color: #fff;
    font-size: 18px;
    border: none;
}

input[type="radio"] {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

textarea {
    width: 400px;
    padding: 10px;
    background-color: #444;
    border: 1px solid #000;
    color: #fff;
    border-radius: 10px;
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    border-top: 2px solid #fff;
    margin-top: 20px;
}